{:deps {tensegritics/clojuredart {:git/url "https://github.com/tensegritics/clojuredart"
                                 :sha "c68c42ae1b1eac9b8dade4d77cf6cbb21869f33a"}
        kennytilton/flutter-mx   {:git/url "https://github.com/kennytilton/flutter-mx"
                                 :sha "553824f5e043004889c1626210f0119e7a83d737"}}}
